h2{
    color:red;
    font-weight: bold;
    font-size: large;
}

body{
    background-color: lightskyblue;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hd1{
    color:blue;
}

li{
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}