#img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:90%;
}

body{
    background-color: lightskyblue;
}
h1{
    text-align: center;
    color: blue;
}

#img2{
    margin-left:570px;
}